#splash{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2B2B2B;
  color: #D07F33;
}

.title-splash{
  font-size: 50px;
  font-weight: 400;
  margin-top: 45vh;
  margin-bottom: auto;
}

body{
  background-color: #2B2B2B;
  color: #D07F33;
}

.map{
  width: 100%;
  height: 35vh;
}

/*_______________________*/

